.nav_links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-top: 15px;
}

header>img{
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

h1{
    color: black;
    text-align: center;
    font-size: 25px;
    padding: 20px 20px 10px 20px;
    color: white;
    text-decoration: underline;
}

body{
    background-color: #ef5642;
}

footer{
    background-color: white;
    text-align: right;
    font-size: 10px;
}