*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: coral;
} */

.hidden{
    visibility: hidden;
}

.unhide{
    visibility: visible;
}

.wrapper{
    width: 450px;
    background: white;
    border-radius: 10px;
}
.wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
header .current_date{
    font-size: 1.45rem;
    font-weight:500;
}
.scroll span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    color: #878787;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    color: navy;
    font-size: 1.9rem;
}
.scroll span:hover{
    background-color: #f2f2f2;
}
.scroll span:last-child{
    margin-right: -10px;
}
.calendar{
    padding: 20px;
}
.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}
.calendar .days{
    margin-bottom: 20px;
}
.calendar .week li{
    font-weight: 500;
}
.calendar ul li{
    width: calc(100%/7);
    position: relative;
}
.calendar .days li{
    margin-top: 30px;
    cursor: pointer;
    z-index: 1;
}

.active{
    color: lightgreen;
}
.calendar .days li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #f2f2f2;
}
.days li:hover::before{
    background-color: antiquewhite;
}
.days li.active::before{
    background: coral
}

.wrapper{
    margin: auto;
}

.center{
    text-align: center;
    padding: 25px;
    line-height: 150%;
    font-weight: bold;
}

.scroll{
    text-align: center;
}

.currentDate{
    padding-top: 10px;
    text-align: center;
    font-size: 25px;
}

/* to add similar styling from previous pages while including the calendar styling */
.nav_links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-top: 15px;
    row-gap: 8px;
}

li a {
    color: blue;
}
li {
    list-style-type: none;
}
  
li a.active {
    background-color: white;
    color: black;
    text-decoration: underline;
    border-radius: 5px;
    font-size: 25px;
}

.skip{
    color: black;
    background-color: white;
    height: 30px;
    left: 0%;
    padding: 10px 10px 10px 10px;
    position: absolute; 
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.skip:focus{
    transform: translateY(0%);
}

header>img{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-image: url('../images/background.jpeg');
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-size: 30px;
    text-align: center;
    padding: 30px 15px 30px 15px;
    color: black;
}

footer{
    background-color: white;
    text-align: right;
    font-size: 10px;
}
.hidden{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}


@media screen and (min-width: 700px){
    .nav_links{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
        justify-content: space-evenly;
        background-color: white;
        font-size: 14px;
    }

    header>img{
        width: 35%;
    }
}


@media screen and (min-width: 900px){
    .nav_links{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 15px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
        font-size: 18px;
    }
    
    header>img{
        width: 20%;
    }

    #sydneyphoto{
        width: 30%;
    }

    footer{
        font-size: 15px;
        text-align: center;
    }
}